body
{
    color: rgb(10, 10, 10);
    text-align: center;
    font-family: "Courier";
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: rgb(83, 64, 64);
    width: 40%;
    padding: 1em;
    margin: 0 auto;
    color: white;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}